<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmation</title>
</head>
<body>
    <h1>Address and/or coordinates could not be retrieved. Add record anyway?</h1>
    <form action="" method="POST"> {% csrf_token %}
        <button type="submit" value="Continue" formmethod="POST">Yes</button>
    </form>
</body>
</html>
