<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Case Details</title>
    <link rel="stylesheet" href="../static/form.css">
</head>
<body>
    <div class="wrapper">
        <div class="title"><p>Case Details</p></div>
        <p>Case number: {{ case_number }}</p>
        {% for inf in infector %}
            <p>Person Name: {{ inf.person_name }}</p>
            <p>Document Number: {{ inf.document_number }}</p>
            <p>Date of Birth: {{ inf.date_of_birth }}</p>
            <p>Date of Onset: {{ inf.date_of_onset }}</p>
            <p>Date of Confirmation: {{ inf.date_of_confirmation }}</p>
        {% endfor %}
        {% if attendances %}
          <table>
            <thead>
              <th>Infector Name</th>
              <th>Event Attended</th>
              <th>Description</th>
              <th>Is Infector</th>
              <th>Is Infected</th>
            </thead>
            {% for atd in attendances %}
              <tr>
                <td>{{ atd.infector }}</td>
                <td>{{ atd.event_attended }}</td>
                <td>{{ atd.description }}</td>
                <td>{{ atd.is_infector }}</td>
                <td>{{ atd.is_infected }}</td>
              </tr>
            {% endfor %}
          </table>
        {% endif %}
        <div class="inputfield">
          <a href="event/{{ case_number }}"><button class="btn">Add Event Attendance Record</button></a>
        </div>
        <button onclick="javascript:history.back();">Back</button>
    </div>
</body>
</html>
