<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Event</title>
    <link rel="stylesheet" href="../static/form.css">
</head>
<body>
    <div class="wrapper">
        <div class="title">
            <p>Add Event Record</p>
        </div>
        <form action="" method="POST"> {% csrf_token %}
            <div class="form">
                <div class="inputfield">
                    <label for="venue_name"><span>Venue Name:</span></label>
                    <input type="text" class="input" name="venue_name" required>
                </div>
                <div class="inputfield">
                    <label for="venue_location"><span>Venue Location:</span></label>
                    <input type="text" class="input" name="venue_location" required>
                </div>
                <div class="inputfield">
                    <label for="date_of_event"><span>Date of Event:</span></label>
                    <input type="date" class="input" name="date_of_event" required>
                </div>
                <div class="inputfield">
                    <label for="description"><span>Description:</span></label>
                    <textarea class="textarea" name="description" required></textarea>
                </div>
                <div class="inputfield">
                    <input type="submit" value="Submit" class="btn">
                </div>
            </div>
        </form>
    </div>
</body>
</html>
