<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SSEFinder Dashboard</title>
    <link rel="stylesheet" href="../static/form.css">
</head>
<body>
    <div class="wrapper">
        <div class="title">
            <p>SSEFinder Dashboard</p>
        </div>
        <div class="form">
          <div class="inputfield">
            <a href="ssefinder"><button class="btn">View SSEs</button></a>
            <a href="case"><button class="btn">Add Case Record</button></a>
            <a href="#"><button class="btn">Retrieve Case Details</button></a>
          </div>
        </div>
    </div>
</body>
</html>
