<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SSEFinder</title>
    <link rel="stylesheet" href="../static/form.css">
</head>
<body>
    <div class="wrapper">
        <div class="title"><p>Potential SSEs</p></div>
        <p>{{ start_date }} to {{ end_date }}</p>
        <table>
          <thead>
            <th>Venue Name</th>
            <th>Venue Location</th>
            <th>Date</th>
            <th>Address</th>
            <th>X-Coordinate</th>
            <th>Y-Coordinate</th>
          </thead>
          {% for evt in events %}
            <tr>
              <td>{{ evt.venue_name }}</td>
              <td>{{ evt.venue_location }}</td>
              <td>{{ evt.date_of_event }}</td>
              <td>{{ evt.venue_address }}</td>
              <td>{{ evt.venue_x_coord }}</td>
              <td>{{ evt.venue_y_coord }}</td>
            </tr>
          {% endfor %}
        </table>
        <a href="ssefinder">Back</a>
    </div>
</body>
</html>
