{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SSEFinder</title>

    <script src='https://code.jquery.com/jquery-3.5.1.js'></script>
		<script type='text/javascript' src='https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js'></script>
		<!-- <script type='text/javascript' src='https://cdn.datatables.net/fixedheader/3.1.8/js/dataTables.fixedHeader.min.js'></script> -->
		<script src='{% static 'script.js' %}'></script>

		<link rel='stylesheet' type='text/css' href='https://cdn.datatables.net/v/dt/dt-1.10.24/datatables.min.css'/>
		<!-- <link rel='stylesheet' type='text/css' href='https://cdn.datatables.net/fixedheader/3.1.8/css/fixedHeader.dataTables.min.css'/> -->
    <link rel="stylesheet" href="{% static 'form.css' %}">

</head>
<body>
    <div class="wrapper">
        <div class="title"><p>Potential SSE</p></div>
        <table id = "event">
          <thead>
            <th>Venue Name</th>
            <th>Venue Location</th>
            <th>Date</th>
            <th>Address</th>
            <th>X-Coordinate</th>
            <th>Y-Coordinate</th>
          </thead>
            <tr>
              <td>{{ event.venue_name }}</td>
              <td>{{ event.venue_location }}</td>
              <td>{{ event.date_of_event }}</td>
              <td>{{ event.venue_address }}</td>
              <td>{{ event.venue_x_coord }}</td>
              <td>{{ event.venue_y_coord }}</td>
            </tr>
        </table>

        <div class="title"><p>Potential Infectors</p></div>

        <table class="datatable">
          <thead>
            <th>Case Number</th>
            <th>Person Name</th>
            <th>Document Number</th>
            <th>Date of Birth</th>
            <th>Date of Onset</th>
            <th>Date of Confirmation</th>
          </thead>
          {% for infector in infector_list %}
            <tr>
              <!-- % url 'case_details' infector.case_number % -->
              <td><a href="">{{ infector.case_number }}</a></td>
              <td>{{ infector.person_name }}</td>
              <td>{{ infector.document_number }}</td>
              <td>{{ infector.date_of_birth }}</td>
              <td>{{ infector.date_of_onset }}</td>
              <td>{{ infector.date_of_confirmation }}</td>
            </tr>
          {% endfor %}
        </table>

        <div class="title"><p>Potential Infected</p></div>

        <table class="datatable">
          <thead>
            <th>Case Number</th>
            <th>Person Name</th>
            <th>Document Number</th>
            <th>Date of Birth</th>
            <th>Date of Onset</th>
            <th>Date of Confirmation</th>
          </thead>
          {% for infected in infected_list %}
            <tr>
              <!-- % url 'case_details' infector.case_number % -->
              <td><a href="">{{ infected.case_number }}</a></td>
              <td>{{ infected.person_name }}</td>
              <td>{{ infected.document_number }}</td>
              <td>{{ infected.date_of_birth }}</td>
              <td>{{ infected.date_of_onset }}</td>
              <td>{{ infected.date_of_confirmation }}</td>
            </tr>
          {% endfor %}
        </table>

        <button onclick="javascript:history.back();">Back</button>
    </div>
</body>
</html>
